<mat-card class="p-3">
    <mat-card-title>
        <div class="row m-0">
            <span class="my-auto col-sm">Your Profile</span>
            <button class="my-auto btn btn-success"><i class="fas fa-check"></i> Update</button>
        </div>
    </mat-card-title>
    <mat-card-content class="p-2">
        <form [formGroup]="editUserProfileForm" class="p-3 border rounded">
            <div class="row w-100 m-0">
                <div class="col-sm">
                    <div class="form-group">
                        <label>User ID</label>
                        <input type="text" class="form-control bg-white" formControlName="id" readonly>
                    </div>
                    <div class="form-group">
                        <label>Name<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="text" class="form-control bg-white" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label>Username<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="text" class="form-control" formControlName="username">
                    </div>
                    <div class="form-group">
                        <label>Email<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label>Contact Number<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="text" class="form-control" formControlName="phone_num">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label>NRIC</label>
                        <input type="text" class="form-control bg-white" formControlName="nric" readonly>
                    </div>
                    <div class="form-group">
                        <label>Last Login</label>
                        <input type="text" class="form-control bg-white" formControlName="last_login" readonly>
                    </div>
                    <div class="form-group">
                        <label>New Password<i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="password" class="form-control" formControlName="new_password">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password<i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
