<mat-card class="p-3 h-100 overflow-auto">
    <mat-card-title>
        <div class="row m-0">
            <span class="my-auto col-sm">My Company</span>
        </div>
    </mat-card-title>
    <mat-card-subtitle class="ml-3">
        <span>Company Information</span>
    </mat-card-subtitle>
    <mat-card-content class="pl-3 pr-3 pb-3">
        <form [formGroup]="editCompanyForm" class="p-3 border rounded" (ngSubmit)="update()">
            <button type="button" (click)="update()" class="my-auto btn btn-success float-right"><i class="fas fa-check"></i> Update</button>
            <div class="row w-100 m-0">
                <div class="col-sm">
                    <div class="form-group">
                        <label>Company Name<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="text" class="form-control bg-white" formControlName="company_name" [ngClass]="{ 'is-invalid': submitted &amp;&amp; editCompanyForm.controls.company_name.errors }">
                        <div *ngIf="submitted &amp;&amp; editCompanyForm.controls.company_name.errors" class="text-danger">
                            <div *ngIf="editCompanyForm.controls.company_name.errors.required">Company Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <textarea type="text" rows="4" class="form-control bg-white" formControlName="desc" [ngClass]="{ 'is-invalid': submitted &amp;&amp; editCompanyForm.controls.desc.errors }"></textarea>
                        <div *ngIf="submitted &amp;&amp; editCompanyForm.controls.desc.errors" class="text-danger">
                            <div *ngIf="editCompanyForm.controls.desc.errors.required">Description is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>About<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <textarea type="text" rows="4" class="form-control" formControlName="about" [ngClass]="{ 'is-invalid': submitted &amp;&amp; editCompanyForm.controls.about.errors }"></textarea>
                        <div *ngIf="submitted &amp;&amp; editCompanyForm.controls.about.errors" class="text-danger">
                            <div *ngIf="editCompanyForm.controls.about.errors.required">About is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label>Establishment Year<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="text" pattern= "[0-9]{4}" title="Please enter valid year" class="form-control bg-white" formControlName="establish_at" [ngClass]="{ 'is-invalid': submitted &amp;&amp; editCompanyForm.controls.establish_at.errors }">
                        <div *ngIf="submitted &amp;&amp; editCompanyForm.controls.establish_at.errors" class="text-danger">
                            <div *ngIf="editCompanyForm.controls.establish_at.errors.required">Establishment Year is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Updated</label>
                        <input type="text" class="form-control bg-white" formControlName="updated_at" readonly>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>