<h2 mat-dialog-title>Confirm</h2>
<mat-dialog-content>
    <span><strong>Are you sure?</strong></span><br><br>
    <span>{{data.desc}}</span><br><br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button tabindex="-1"  class="bg-danger text-white" mat-button (click)="no()">No</button>
  <button tabindex="-1" class="bg-success text-white" mat-button (click)="yes()">Yes</button>
</mat-dialog-actions>
