<mat-card class="p-3 h-100 overflow-auto">
    <mat-card-title>
        <div class="row m-0">
            <span class="my-auto col-sm">Driver Management</span>
        </div>
    </mat-card-title>
    <mat-card-content class="p-2">
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLinkActive="active-list-item text-white bg-primary" routerLink="/main/staff/staff-list">All Drivers ({{staffCount}})</a>
            <a mat-tab-link routerLinkActive="active-list-item text-white bg-primary" routerLink="/main/staff/join-request">Join Request ({{requestCount}})</a>
        </nav>
        <router-outlet></router-outlet>
    </mat-card-content>
</mat-card>