<mat-card class="p-3">
    <mat-card-title>
        <div class="row m-0">
            <span class="my-auto col-sm">Report Assessment</span>
        </div>
    </mat-card-title>
    <mat-card-content class="p-2">
        <mat-form-field class="mt-2 col-sm-4 p-0">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by total rating, last updated...">
        </mat-form-field>
        
        <div class="mat-elevation-z8 example-container">
            <table mat-table [dataSource]="dataSource" matSort class="col-sm-12">
        
                <ng-container matColumnDef="no">
                    <th style="width:5%" mat-header-cell *matHeaderCellDef> No </th>
                    <td mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </td>
                </ng-container>
        
                <ng-container matColumnDef="order_id">
                    <th style="width:15%" class="text-center" mat-header-cell *matHeaderCellDef> Order ID </th>
                    <td class="text-center" mat-cell *matCellDef="let row"> #{{row.customer_order_id}} </td>
                </ng-container>
        
                <ng-container matColumnDef="total_revenue">
                    <th mat-header-cell *matHeaderCellDef> Total Revenue </th>
                    <td mat-cell *matCellDef="let row"> RM {{row.total_earned}} </td>
                </ng-container>
        
                <ng-container matColumnDef="total_rating">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Rating </th>
                    <td mat-cell *matCellDef="let row"> {{row.total_rating}} <i class="fas fa-star"></i></td>
                </ng-container>
        
                <ng-container matColumnDef="updated_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
                    <td mat-cell *matCellDef="let row"> {{row.updated_at}} </td>
                </ng-container>
        
                <ng-container matColumnDef="actions">
                    <th class="text-center" mat-header-cell *matHeaderCellDef> Actions </th>
                    <td class="text-center" mat-cell *matCellDef="let row">
                        <button mat-button routerLink="/main/order-details/{{row.customer_order_id}}" matTooltip="More Information" class="btn-primary my-auto"><i class="fas fa-info-circle"></i></button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>