
<mat-card class="p-3">
    <mat-card-title>
        <div class="row m-0">
            <span class="my-auto col-sm">Staff Profile</span>
        </div>
    </mat-card-title>
    <mat-card-content class="p-2">
        <form *ngIf="editStaffProfileForm" [formGroup]="editStaffProfileForm" class="p-3 border rounded">
            <!-- <button type="button" class="my-auto btn btn-danger ml-2 float-right"><i class="fas fa-times"></i> Remove</button> -->
            <button type="button" class="my-auto btn btn-success float-right" (click)="update()"><i class="fas fa-check"></i> Update</button>
            <div class="row w-100 m-0">
                <div class="col-sm">
                    <div class="form-group">
                        <label>User ID</label>
                        <input type="text" class="form-control bg-white" formControlName="id" readonly>
                    </div>
                    <div class="form-group">
                        <label>Name<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="text" class="form-control bg-white" formControlName="name" [ngClass]="{ 'is-invalid': submitted &amp;&amp; editStaffProfileForm.controls.name.errors }">
                        <div *ngIf="submitted &amp;&amp; editStaffProfileForm.controls.name.errors" class="text-danger">
                            <div *ngIf="editStaffProfileForm.controls.name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="text" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted &amp;&amp; editStaffProfileForm.controls.username.errors }">
                        <div *ngIf="submitted &amp;&amp; editStaffProfileForm.controls.username.errors" class="text-danger">
                            <div *ngIf="editStaffProfileForm.controls.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted &amp;&amp; editStaffProfileForm.controls.email.errors }">
                        <div *ngIf="submitted &amp;&amp; editStaffProfileForm.controls.email.errors" class="text-danger">
                            <div *ngIf="editStaffProfileForm.controls.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contact Number<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="text" class="form-control" formControlName="phone_num" [ngClass]="{ 'is-invalid': submitted &amp;&amp; editStaffProfileForm.controls.phone_num.errors }">
                        <div *ngIf="submitted &amp;&amp; editStaffProfileForm.controls.phone_num.errors" class="text-danger">
                            <div *ngIf="editStaffProfileForm.controls.phone_num.errors.required">Contact Number is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>NRIC<span class="text-danger">*</span><i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="text" class="form-control bg-white" formControlName="nric" [ngClass]="{ 'is-invalid': submitted &amp;&amp; editStaffProfileForm.controls.nric.errors }">
                        <div *ngIf="submitted &amp;&amp; editStaffProfileForm.controls.nric.errors" class="text-danger">
                            <div *ngIf="editStaffProfileForm.controls.nric.errors.required">NRIC is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label>Date Registered</label>
                        <input type="text" class="form-control bg-white" formControlName="created_at" readonly>
                    </div>
                    <div class="form-group">
                        <label>Last Profile Updated</label>
                        <input type="text" class="form-control bg-white" formControlName="updated_at" readonly>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <input type="text" class="form-control bg-white" formControlName="status_desc" readonly>
                    </div>
                    <div class="form-group">
                        <label>New Password<i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="password" class="form-control" formControlName="new_password">
                        <div *ngIf="!passwordConfirmed" class="text-danger">
                            <div>Both field must be same</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password<i class="ml-2 fas fa-pencil-alt"></i></label>
                        <input type="password" class="form-control" formControlName="password">
                        <div *ngIf="!passwordConfirmed" class="text-danger">
                            <div>Both field must be same</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
