<mat-form-field class="mt-2 col-sm-4 p-0">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by name, username...">
</mat-form-field>

<div class="mat-elevation-z8 example-container">
    <table mat-table [dataSource]="dataSource" matSort class="col-sm-12">

        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
            <td mat-cell *matCellDef="let row"> {{row.username}} </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Registered </th>
            <td mat-cell *matCellDef="let row"> {{row.created_at}} </td>
        </ng-container>

        <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
            <td mat-cell *matCellDef="let row"> {{row.updated_at}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Status </th>
            <td class="text-center" mat-cell *matCellDef="let row"><i [matTooltip]="row.user_status_id == '1' ? 'Active': 'Inactive'" [ngClass]="row.user_status_id == '1' ? 'fas fa-circle' : 'far fa-circle'" class="text-primary"></i></td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Actions </th>
            <td class="text-center" mat-cell *matCellDef="let row">
                <button mat-button routerLink="/main/staff-details/{{row.id}}" matTooltip="More Information" class="btn-primary my-auto"><i class="fas fa-info-circle"></i></button>
                <mat-slide-toggle class="example-margin ml-3 my-auto" [matTooltip]="row.user_status_id == '1' ? 'Deactivate Staff' : 'Activate Staff'" (change)="changeStatus($event, row)" color="primary" [checked]="row.user_status_id == 1"></mat-slide-toggle>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</div>