<div class="container-fluid h-100 peach-gradient">
    <div class="row h-100">
        <mdb-card class="unique-color-dark m-auto col-sm-4">
            <mdb-card-body>
                <mdb-card-title class="p-1">
                    <h4 class="text-white text-center">Easy Transfer Delivery System</h4>
                    <h6 class="text-white text-center">Administrator Login</h6>
                </mdb-card-title>
                <mdb-card-text class="pb-0 pt-0 pl-4 pr-4">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="text-white">Username:</label>
                            <input type="text" formControlName="username" class="text-dark form-control" autofocus [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.username.errors }">
                            <div *ngIf="submitted &amp;&amp; loginForm.controls.username.errors" class="text-danger">
                                <div *ngIf="loginForm.controls.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-white">Password:</label>
                            <input type="password" formControlName="password" class="text-dark form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.password.errors }">
                            <div *ngIf="submitted &amp;&amp; loginForm.controls.password.errors" class="text-danger">
                                <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <!-- <button class="btn btn-block unique-color text-white mt-4">Login</button> -->
                        <button class="btn btn-block danger-color text-white mt-4">Login</button>
                    </form>
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>