<mat-form-field class="mt-2 col-sm-4 p-0">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by name, username, request date...">
</mat-form-field>

<div class="mat-elevation-z8 example-container">
    <table mat-table [dataSource]="dataSource" matSort class="col-sm-12">

        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
            <td mat-cell *matCellDef="let row"> {{row.username}} </td>
        </ng-container>

        <ng-container matColumnDef="request_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Date </th>
            <td mat-cell *matCellDef="let row">{{row.created_at}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Actions </th>
            <td class="text-center" mat-cell *matCellDef="let row">
                <button mat-button matTooltip="More Information" routerLink="/main/join-request-details/{{row.id}}" class="btn-primary my-auto"><i class="fas fa-info-circle"></i></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</div>