<mat-card class="p-3">
    <mat-card-title>
        <div class="row m-0">
            <span class="my-auto col-sm">Order Details</span>
        </div>
    </mat-card-title>
    <mat-card-content class="p-2">
        <form *ngIf="orderDetailsForm" [formGroup]="orderDetailsForm" class="p-3 border rounded">
            <div class="row w-100 m-0">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Order ID</label>
                        <input type="text" class="form-control bg-white" formControlName="order_id" readonly>
                    </div>
                    <div class="form-group">
                        <label>Created on</label>
                        <input type="text" class="form-control bg-white" formControlName="created_at" readonly>
                    </div>
                    <div class="form-group">
                        <label>Pickup Date</label>
                        <input type="text" class="form-control bg-white" formControlName="pickup_date_time" readonly>
                    </div>
                    <div class="form-group">
                        <label>Dropoff Date</label>
                        <input type="text" class="form-control bg-white" formControlName="dropoff_date_time" readonly>
                    </div>
                    <div class="form-group">
                        <label>Date Served</label>
                        <input type="text" class="form-control bg-white" formControlName="order_accept_by" readonly>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Pickup Location</label>
                        <input type="text" class="form-control bg-white" formControlName="pickup_location" readonly>
                    </div>
                    <div class="form-group">
                        <label>Dropoff Location</label>
                        <input type="text" class="form-control bg-white" formControlName="dropoff_location" readonly>
                    </div>
                    <div class="form-group">
                        <label>Delivery Distance (KM)</label>
                        <input type="text" class="form-control bg-white" formControlName="delivery_distance" readonly>
                    </div>
                    <div class="form-group">
                        <label>Package/Parcel Size</label>
                        <input type="text" class="form-control bg-white" formControlName="parcel_size_desc" readonly>
                    </div>
                    <div class="form-group">
                        <label>Total Revenue (RM)</label>
                        <input type="text" class="form-control bg-white" formControlName="total_cost_delivery" readonly>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Payment Method</label>
                        <input type="text" class="form-control bg-white" formControlName="payment_method_desc" readonly>
                    </div>
                    <div class="form-group">
                        <label>Customer Name</label>
                        <input type="text" class="form-control bg-white" formControlName="customer_name" readonly>
                    </div>
                    <div class="form-group">
                        <label>Customer Contact Number</label>
                        <input type="text" class="form-control bg-white" formControlName="customer_phone_num" readonly>
                    </div>
                    <div class="form-group">
                        <label>Driver Name</label>
                        <input type="text" class="form-control bg-white" formControlName="driver_name" readonly>
                    </div>
                    <div class="form-group">
                        <label>Driver Contact Number</label>
                        <input type="text" class="form-control bg-white" formControlName="driver_phone_num" readonly>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
