
<mat-dialog-content>
    <div class="row p-0 m-0 justify-content-center">
        <mat-spinner mode="indeterminate" diameter="30" strokeWidth="5" class="my-auto"></mat-spinner>
        <h5 class="my-auto ml-3"><strong>Loading...</strong></h5>
    </div>
</mat-dialog-content>