<div class="container-fluid p-0 h-100">
    <mat-toolbar style="height: 10%" class="col-sm-* bg-danger text-white" >
        <span style="cursor: pointer" (click)="sidenav.toggle()" class="m-2 mr-4"><i class="fa fa-bars"></i></span>
        <span *ngIf="!mobile"><small>{{companyName}}</small></span>
        <span *ngIf="mobile"><small>{{abbrCompanyName}}</small></span>
        <span class="col-sm"></span>
        <div class="row mr-2 unique-color-dark rounded">
            <span *ngIf="!mobile" class="ml-3 my-auto text-white"><small>{{user.name}} [{{user.username}}]</small></span>
            <button routerLink="/main/profile" matTooltip="View Profile" (click)="sidenav.close()" class="my-auto btn btn-link text-white"><i class="fas fa-user"></i></button>
        </div>
        <button (click)="logout()" matTooltip="Logout" class="btn unique-color-dark text-white"><i class="fas fa-sign-out-alt"></i></button>
    </mat-toolbar>
    <mat-sidenav-container class="example-container" style="height:90%">
        <mat-sidenav mode="side" class="unique-color-dark" style="width:15%" [opened]="!mobile" #sidenav mode="side">
            <mat-list class="pt-0 pb-0">
                <a class="navlink text-white" routerLinkActive="active-list-item text-dark bg-white" routerLink="/main/dashboard" mat-list-item><i class="fas fa-tachometer-alt"></i><span *ngIf="!mobile" class="ml-3">Dashboard</span></a>
                <a class="navlink text-white" routerLinkActive="active-list-item text-dark bg-white" routerLink="/main/company" mat-list-item><i class="fas fa-building"></i><span *ngIf="!mobile" class="ml-3">Company</span></a>
                <!-- <a class="navlink text-white" routerLinkActive="active-list-item text-dark bg-white" routerLink="/main/stock-and-inventory" mat-list-item><i class="fas fa-store"></i><span *ngIf="!mobile" class="ml-3">Stock & Inventory</span></a> -->
                <a class="navlink text-white" routerLinkActive="active-list-item text-dark bg-white" routerLink="/main/staff" mat-list-item><i class="fas fa-biking"></i><span *ngIf="!mobile" class="ml-3">Driver</span></a>
                <a class="navlink text-white" routerLinkActive="active-list-item text-dark bg-white" routerLink="/main/report" mat-list-item><i class="far fa-flag"></i><span *ngIf="!mobile" class="ml-3">Report</span></a>
            </mat-list >
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="container-fluid p-3" style="height:100%">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    
</div>