<mat-card class="p-3">
    <mat-card-title>
        <div class="row m-0">
            <span class="my-auto col-sm">Join Request Details</span>
        </div>
    </mat-card-title>
    <mat-card-content class="p-2">
        <form *ngIf="joinRequestDetailsForm" [formGroup]="joinRequestDetailsForm" class="p-3 border rounded">
            <button type="button" class="my-auto btn btn-danger ml-2 float-right" (click)="update('rejected')"><i class="fas fa-times"></i> Reject</button>
            <button type="button" class="my-auto btn btn-success float-right" (click)="update('approved')"><i class="fas fa-check"></i> Approve</button>
            <div class="row w-100 m-0">
                <div class="col-sm">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control bg-white" formControlName="username" readonly>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control bg-white" formControlName="name" readonly>
                    </div>
                    <div class="form-group">
                        <label>NRIC</label>
                        <input type="text" class="form-control bg-white" formControlName="nric" readonly>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control bg-white" formControlName="email" readonly>
                    </div>
                    <div class="form-group">
                        <label>Contact Number</label>
                        <input type="text" class="form-control bg-white" formControlName="phone_num" readonly>
                    </div>
                    <div class="form-group">
                        <label>Requested Date</label>
                        <input type="text" class="form-control bg-white" formControlName="created_at" readonly>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
