<mat-card class="p-3">
    <mat-card-title>
        <div class="row m-0">
            <span class="my-auto col-sm">Admin Dashboard</span>
        </div>
    </mat-card-title>
    <mat-card-content class="p-2">
        This is admin dashboard!
    </mat-card-content>
</mat-card>